.CreateTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CreateTask section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
    min-width: 1450px;
}
.CreateTask form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
}
.CreateTask form p {
    color: black;
    display: flex;
    flex-direction: column;
}
.CreateTask form label {
    color: black;
    font-weight: bold;
}
.CreateTask input {
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: 'Instrument Serif', serif;
    font-size: 17px;
    height: 40px;
    outline: 0;
    width: 450px;
}
.CreateTask input[type="text"] {
    font-family: 'Instrument Serif', serif;
    font-size: 17px;
    padding-left: 0.65rem;
}
.CreateTask input[type="datetime-local"] {
    color: black;
    font-family: 'Instrument Serif', serif;
    font-size: 17px;
    padding-left: 0.65rem;
}
.CreateTask input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(10%) sepia(100%) saturate(300%) hue-rotate(180deg);
}
.CreateTask textarea {
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: 'Instrument Serif', serif;
    font-size: 17px;
    height: 120px;
    outline: 0;
    padding: 0.5rem;
    width: 450px;
}
.CreateTask select {
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-family: 'Instrument Serif', serif;
    font-size: 17px;
    outline: 0;
    padding: 0.5rem;
    width: 450px;
}
.CreateTask button {
    background-color: var(--Black);
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 250px;
}